
avatars/musetalk/utils/face_detection/detection/sfd/s3fd.pth
bench/runs/
build/
data
data_utils/face_parsing/79999_iter.pth
data_utils/face_tracking/3DMM/*
dist
.DS_Store
*.egg-info/
.idea
*.log
models/
*.mp4
pretrained
__pycache__/
*.so
tmp*
trial*/
workspace/log_ngp.txt
